body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
}

.matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#weather-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border: 1px solid green;
    border-radius: 10px;
}

input, button, pre {
    background-color: black;
    color: green;
    border: 1px solid green;
    padding: 10px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

input {
    width: calc(100% - 22px); /* Adjust width for padding and border */
}

pre {
    white-space: pre-wrap; /* Preserve white-space for better formatting */
}
